/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*utility*/


body {
    font-family: "Open Sans", sans-serif;
}


.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}



.btn {
    color: white;
    background-color: blue;
    padding: 10px;
}

.btn:hover{
    background-color:aqua;
}

.img-fluid{
    max-width: 100%;
}


/* header*/


/*sezione navbar*/

.navbar {
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 500;
    margin:20px;
}

.nav-sec {
    flex-basis: calc(100% / 3);
}

.nav-text {
    justify-content: space-evenly;
    align-items: center;
}



/*sezione jumbotron*/

.jumbotron {
    background-color: lightblue;
    padding: 30px;
}

.jumbotron-container {
    max-width: 900px;
    margin: 0 auto;
}

#jumbotron-title{
    font-size: 60px;
    padding: 30px 0;
}

.jumbotron-sec{
    
}

.jumbo-left{
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.fa-arrow-down{
    font-size: 40px;
}

.jumbo-right{
    width: 70%;
}

/* sezione "business"*/

.sec-subscribe{
    padding: 60px;
}

.subscribe-container{
    max-width: 800px;
    margin: 0 auto;
}

.fatturazione{
    padding: 20px;
    gap:100px;
}

.check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 5px solid blue;
    border-radius: 50%;
}

.not-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}

.subscribe{
    padding-top: 20px;
    justify-content:space-between;
    gap:10px;
    align-items: stretch;

}

.colonna-subscribe{
    flex-direction: column;
    border:solid 1px gray;
    padding:20px;
    gap: 30px;
}

.subscribe-feature{
    font-size:15px;
}

.punti-del-piano{
    font-size: 15px;
}

#border-title{
    text-align: center;
    padding-bottom: 5px;
    border-bottom: solid 1px gray;
}

.link-sott{
    text-decoration: underline;
}


.enterprise-sec{
     padding: 60px;
}

.enterprise-container{
      max-width: 800px;
    margin: 0 auto;
    gap:30px;
    padding-top:20px;
    align-items: baseline;
        border: solid 1px lightgrey;
}

.enterprise-right{
    width: 70%;
    padding: 20px;
}

.enterprise-left{
    width:30%;
}

    
.footer{
    background-color: black;
}

.footer-container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: space-between;
}

.colonne-footer{
    color: white;
    gap: 20px;
    width: calc(100% / 5 - (80px / 4));
}

.column-style{
    padding-top:10px;
    flex-direction: column;
    gap:10px;
}

.language-footer{
    max-width: 900px;
    margin: 0 auto;
    color: white;
    padding-top: 100px;
    padding-bottom: 80px;
}