/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*utility*/


body {
    font-family: "Open Sans", sans-serif;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style: none;
}

.btn {
    color: white;
    background-color: blue;
    padding: 10px;
}

.btn:hover{
    background-color:aqua;
}

.img-fluid{
    max-width: 100%;
}


/* header*/


/*sezione navbar*/

.navbar {
    /*
    height: 200px;*/
    background-color: white;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 500;
    margin:20px;
}

.nav-sec {
    flex-basis: calc(100% / 3);
}

.nav-text {
    justify-content: space-evenly;
}


/*sezione jumbotron*/

.jumbotron {
    background-color: lightblue;
    padding: 30px;
}

.jumbotron-container {
    max-width: 900px;
    margin: 0 auto;
}

#jumbotron-title{
    font-size: 60px;
    padding: 30px 0;
}

.jumbotron-sec{
    
}

.jumbo-left{
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.fa-arrow-down{
    font-size: 40px;
}

.jumbo-right{
    width: 70%;
}

/* sezione "business"*/

.sec-business{
    padding: 60px;
}

.business-container{
    max-width: 800px;
    margin: 0 auto;
}

.fatturazione{
    padding: 20px;
    gap:100px;
}

.colonne{
    flex-wrap: wrap;
}